<form class="set-password" ng-submit="setPassword()">
    <div ng-show="showPasswordError"><span style="color:red;">The password should be no less than eight characters and contain a-z,0-9.</span></div>
    <div ng-show="showConfirmPasswordError"><span style="color:red;">Passwords don't match.</span></div>
    <div class="input">
        <div class="password">
            <input type="password"
                   name="password"
                   placeholder="Password"
                   ng-model="password"
                   ng-change="validate()"/>
        </div>

        <div class="password">
            <input type="password"
                   name="confirmPassword"
                   placeholder="Confirm password"
                   ng-model="confirmPassword"
                   ng-change="validate()"/>
        </div>
    </div>

    <div>
        <button type="submit" ng-disabled="disableButton">Set password</button>
    </div>
</form>

