<div class="row">
  <ng-include src="'templates/menu.html'"></ng-include>
  <div class="col-md-10 flow">
    <ul class="breadcrumb">
      <li><a>订单管理</a></li>
	  <li>菜品统计</li>
    </ul>
	<div>
	<div ng-show="ifCLodp==0" class="alert alert-warning">检测到您未安装打印所需插件，请 <span ng-click="downloadLodop32()">点击此处</span> 下载并安装</div>
    <div class="row row-title">
		<div class="col-sm-1 control-label lottery-lable">菜品类别:</div>
		<div class="col-sm-2 long-label">
          <select class="form-control" ng-change="changeCategory()" ng-model="filter.category_id" >
                <option value="">全部</option>
				<option ng-repeat="c in categoryList" value="{{c.id}}">{{c.name}}</option>
          </select>
        </div>
		<div class="col-sm-1 control-label lottery-lable">菜品名称:</div>
		<div class="col-sm-2 long-label">
          <select class="form-control" ng-model="filter.product_id" >
                <option value="">全部</option>
				<option ng-repeat="c in productList" value="{{c.id}}">{{c.name}}</option>
          </select>
        </div>

        <a class="col-sm-offset-1 control-label  col-sm-1 middle-label" >
          <button class="btn btn-primary btn-lg btn-block " ng-click="getProductLogList('query')">查询</button>
        </a>
        <a class="col-sm-offset-0 control-label  col-sm-1 middle-label" >
          <button class="btn btn-primary btn-lg btn-block " ng-click="getProductLogList('export_excel')">导出报表</button>
        </a>
        <a class="col-sm-offset-0 control-label  col-sm-1 middle-label" >
          <button class="btn btn-primary btn-lg btn-block " ng-click="getProductLogList('print')">打印报表</button>
        </a>
		<div class="other-line">
		<div class="col-sm-1 control-label lottery-lable">选择时间:</div>
		<div class="col-sm-2 dropdown long-label" >
			<div class="form-group">  
				<!--指定 date标记-->  
				<div class='input-group date' id='datetimepicker1'>  
					<input type='text' class="form-control" ng-model="filter.start_time" />  
					 <span class="add-on"><i class="icon-calendar"></i></span>
					<span class="input-group-addon">  
						<span class="glyphicon glyphicon-calendar"></span>  
					</span>  
				</div>  
			</div>  
		</div>
		<div class="col-sm-1 control-label lottery-lable long">至</div>
        <div class="col-sm-2 dropdown long-label">
			<div class="form-group">  
				<!--指定 date标记-->  
				<div class='input-group date' id='datetimepicker2'>  
					<input type='text' class="form-control" ng-model="filter.end_time" />  
					<span class="input-group-addon">  
						<span class="glyphicon glyphicon-calendar"></span>  
					</span>  
				</div>  
			</div>  
        </div>
		<!--
          <button class="btn btn-primary btn-lg" ng-click="getProductLogList('export_excel')">导出报表</button>
          <button class="btn btn-primary btn-lg" ng-click="getProductLogList('print')">打印报表</button>-->
		</div>
    </div>
	</div>

    <table ng-table="tableParams" class="table table-striped img-table">
      <thead>
        <tr>

          <th><a ng-click="tableParams.sorting('id',(reverseSort = !reverseSort)?'asc':'desc')">编号</a></th>
          <th><a>图片</a></th>
          <th><a ng-click="tableParams.sorting('name',(reverseSort = !reverseSort)?'asc':'desc')">名称</a></th>
          <th><a ng-click="tableParams.sorting('category_name',(reverseSort = !reverseSort)?'asc':'desc')">类别</a></th>
          <th><a ng-click="tableParams.sorting('sumCount',(reverseSort = !reverseSort)?'asc':'desc')">数量</a></th>
		</tr>
      </thead>
      <tbody>
        <tr ng-repeat="(index,item) in dataList">
          <td class="text-center">{{index+1}}</td>
          <td class="text-center"><img  ng-src="{{dataUrlForepart}}{{item.logo_id}}" /></td>
          <td class="text-center">{{item.name}}</td>
          <td class="text-center">{{item.category_name}}</td>
          <td class="text-center">{{item.sumCount}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>








