<div class="row">
  <ng-include src="'templates/menu.html'"></ng-include>
  <div class="col-md-10">
    <ul class="breadcrumb">
      <li>
        <a href="#/shopDataentry/shopInformation">商户信息管理</a>
      </li>
      <li class="active">商户中奖概率管理</li>
    </ul>
    <div class="row">
      <a class="col-sm-offset-0 control-label  col-sm-2" href="#/shopDataentry/shopInformation/create">
        <button class="btn btn-primary btn-lg btn-block ">新建</button>
      </a>
    </div>
    <table ng-table="tableParams" class="table table-striped">
      <thead>
        <tr>

          <th><a ng-click="tableParams.sorting('account',(reverseSort = !reverseSort)?'asc':'desc')">商户编号</a></th>
          <th><a ng-click="tableParams.sorting('shop_name',(reverseSort = !reverseSort)?'asc':'desc')">商户名称</a></th>
          <th><a ng-click="tableParams.sorting('name',(reverseSort = !reverseSort)?'asc':'desc')">负责人</a></th>
          <th><a ng-click="tableParams.sorting('sex',(reverseSort = !reverseSort)?'asc':'desc')">性别</a></th>
          <th><a ng-click="tableParams.sorting('phone',(reverseSort = !reverseSort)?'asc':'desc')">手机号</a></th>
          <th><a ng-click="tableParams.sorting('id_card',(reverseSort = !reverseSort)?'asc':'desc')">身份证号</a></th>
          <th><a ng-click="tableParams.sorting('shop_address',(reverseSort = !reverseSort)?'asc':'desc')">地址</a></th>
          <th><a ng-click="tableParams.sorting('is_in_use',(reverseSort = !reverseSort)?'asc':'desc')">状态</a></th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in dataList">
          <td class="text-center"><a href="#/shopDataentry/shopInformation/view/{{item.id}}">{{item.account}}</a></td>
          <td class="text-center">{{item.shop_name}}</td>
          <td class="text-center">{{item.name}}</td>
          <td class="text-center">{{item.sex==1 ? '男' : '女'}}</td>
          <td class="text-center">{{item.phone}}</td>
          <td class="text-center">{{item.id_card}}</td>
          <td class="text-center">{{item.shop_address}}</td>
          <td class="text-center">{{item.is_in_use==1 ? '激活' : '锁定'}}</td>
          <td class="text-center"><button class="btn btn-primary" ng-click = "updatePassword(item)">重置密码</button></td>    
        </tr>
      </tbody>
    </table>

  </div>


</div>
