<div class="row">
	<ng-include src="'templates/menu.html'"></ng-include>
	<div class="col-md-10">
		<ul class="breadcrumb">
			<li>
				<a href="#/shopDataentry/shopPay">商户缴费管理</a>
			</li>
			<li class="active">编辑</li>
		</ul>

		<form  name="form" class="form-horizontal" ng-submit="update()" role="form">

			<div class="form-group">
				<label class="col-sm-2 control-label">商户名称:</label>
				<div class="col-sm-3">
					<p class="form-control-static">{{shopPay.shop_name}}</p>
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-2 control-label">负责人姓名:</label>
				<div class="col-sm-3">
					<p class="form-control-static">{{shopPay.name}}</p>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">累计应缴费用:</label>
				<div class="col-sm-3">
					<p class="form-control-static">{{shopPay.total_payable}}</p>
				</div>
			</div>
			

			<div class="form-group">
				<label class="col-sm-2 control-label">应交费日期:</label>
				<div class="col-sm-3">
				<p class="form-control-static">{{shopPay.pay_date}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">缴费状态:</label>
				<div class="col-sm-3">
					<select class="form-control" ng-model="shopPay.is_pay" ng-options="m.id as m.value for m in YesOrNo" ng-required="true">
                    <option value="">请选择</option>
      				</select>
				</div>
			</div>			

			<!-- <div class="form-group">
				<label class="col-sm-2 control-label">初始密码:</label>
				<div class="col-sm-3">
					<input class="form-control" ng-model="shop.password" ng-required="true" >
				</div>
			</div> -->

			<div class="form-group">
				<div class="col-sm-offset-1 control-label   col-sm-2">
					<button class="btn btn-primary btn-lg btn-block" type="submit">修改</button>
				</div>
				<div class="col-sm-offset-0 control-label   col-sm-2">
					<button class="btn btn-primary btn-lg btn-block button-defult"
							onclick="window.location.href='#/shopDataentry/shopPay'">返回</button>
				</div>
			</div>
		</form>
	</div>
</div>
