<div class="row">
	<ng-include src="'templates/menu.html'"></ng-include>
	<div class="col-md-10">
		<ul class="breadcrumb">
			<li>
				<a href="#/memberDataentry/memberInformation">会员中心</a>
			</li>
			<li class="active">充值管理</li>
		</ul>

		<form  name="form" class="form-horizontal" ng-submit="update()" role="form">

		        <div class="form-group">
		            <label class="col-sm-2 control-label">会员手机号:</label>
		            <div class="col-sm-3">
									<input class="form-control" ng-model="member.phone" readonly />
		            </div>
		        </div>
		        
		         <div class="form-group">
		            <label class="col-sm-2 control-label">会员姓名:</label>
		            <div class="col-sm-3">
									<input class="form-control" ng-model="member.name" readonly />
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="col-sm-2 control-label">会员卡种:</label>
		            <div class="col-sm-3">
		            				<select class="form-control" ng-model="member.memberCardId" disabled ng-options="m.id as m.name for m in memberCardList" ng-required="true">
				                    <option value="">请选择</option>
	                  				</select>
		            </div>
		        </div>
				<div class="form-group">
		            <label class="col-sm-2 control-label">可用余额:</label>
		            <div class="col-sm-3">
									<input class="form-control" ng-model="member.balance" readonly />
		            </div>
		        </div>
				<div class="form-group">
		            <label class="col-sm-2 control-label">充值金额:</label>
		            <div class="col-sm-3">
									<input class="form-control" ng-model="member.amount" ng-required="true" />
		            </div>
		        </div>
				<div class="form-group">
		            <label class="col-sm-2 control-label">赠送金额:</label>
		            <div class="col-sm-3">
									<input class="form-control" ng-model="member.giveAmount" ng-required="true" />
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="col-sm-2 control-label">付款方式:</label>
		             <div class="col-sm-3">
				            <select class="form-control" ng-model="member.pay_type" ng-required="true">
								<option value="">请选择</option>
								<option value="0">现金</option>
								<option value="1">银行卡</option>
								<option value="2">微信</option>
								<option value="3">支付宝</option>
	                  		</select>
	                </div>
		        </div>
						<div class="form-group">
							<div class="alert alert-danger col-sm-5" ng-show="errorMessage">{{errorMessage}}</div>
						</div>
			<div class="form-group">
				<div class="col-sm-offset-1 control-label   col-sm-2">
					<button class="btn btn-primary btn-lg btn-block" type="submit">充值</button>
				</div>
				<div class="col-sm-offset-0 control-label col-sm-2">
					<button class="btn btn-primary btn-lg btn-block button-defult" 
							onclick="window.location.href='#/memberDataentry/memberInformation'">返回</button>
				</div>
			</div>
		</form>
	</div>
</div>
