<div class="row">
  <ng-include src="'templates/menu.html'"></ng-include>
  <div class="col-md-10 flow">
    <ul class="breadcrumb">
      <li>
        <a href="#/agentDataentry/agentPay">代理商缴费管理</a>
      </li>
      <li class="active">历史缴费查询</li>
    </ul>
    <div>

     <div class="row row-title">
			<div class="col-sm-1 control-label lottery-lable">代理商名称:</div>
          <div class="col-sm-2">
            <select class="form-control" ng-model="selectedAgentId" 
              ng-options="m.id as m.company_name for m in AgentModule">
              <option value="">请选择</option>
            </select> 
          </div>
          <a class="col-sm-offset-0 control-label  col-sm-2">
            <button class="btn btn-primary btn-lg btn-block " ng-click="selectAgent(selectedAgentId)">查询</button>
          </a>
          <a class="col-sm-offset-0 control-label  col-sm-1" href="#/agentDataentry/agentPay">
            <button class="btn btn-primary btn-lg btn-block button-defult">返回</button>
          </a>
    </div>

    </div>
    <table ng-table="tableParams" class="table table-striped">
      <thead>
        <tr>

          <th><a ng-click="tableParams.sorting('id',(reverseSort = !reverseSort)?'asc':'desc')">代理商编号</a></th>
          <th><a ng-click="tableParams.sorting('company_name',(reverseSort = !reverseSort)?'asc':'desc')">代理商名称</a></th>
          <th><a ng-click="tableParams.sorting('name',(reverseSort = !reverseSort)?'asc':'desc')">负责人</a></th>
          <th><a ng-click="tableParams.sorting('payable_expenses',(reverseSort = !reverseSort)?'asc':'desc')">应缴费用</a></th>
          <th><a ng-click="tableParams.sorting('paid_date',(reverseSort = !reverseSort)?'asc':'desc')">实际缴费日期</a></th>
		  <th><a ng-click="tableParams.sorting('pay_date',(reverseSort = !reverseSort)?'asc':'desc')">应缴费日期</a></th>
          <th><a ng-click="tableParams.sorting('is_pay',(reverseSort = !reverseSort)?'asc':'desc')" >缴费状态</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in dataList">
          <td class="text-center">{{item.agent_id}}</a></td>
          <td class="text-center">{{item.company_name}}</td>
          <td class="text-center">{{item.name}}</td>
          <td class="text-center">￥{{item.payable_expenses}}</td>
		  <td class="text-center">{{item.is_pay == 1 ? item.paid_date: '-'}}</td>
          <td class="text-center">{{item.pay_date}}</td>
          <td class="text-center">{{item.is_pay == 1 ? '已缴': '未缴'}}</td>  
        </tr>
      </tbody>
    </table>

  </div>


</div>
