<div class="row">
  <ng-include src="'templates/menu.html'"></ng-include>
  <div class="phone-header">
	  <div class="phone-header-title">馋猫点点</div>
	  <div class="phone-header-return"><a href="#tableOperate/list"><img src="img/return-back.png"></a></div>
	  <div class="phone-table-serial">{{tableInf.name}}</div>
  </div>
  <div class="col-md-10 col-xs-12 flow">
	<div class="table-list">
		<div class="change-table-header">请选择要合并结账的桌位：</div>
		<div class="table-title">普通桌</div>
		<div class="table-list-body">
			<div class="status{{item.status}}" ng-repeat="(index,item) in diningTableList" ng-if="item.is_out==0&&item.status!=0&&item.status!=1&&item.is_enable==1" for="{{item.id}}">
				<label>
				<div class="table-serial">{{item.name}}</div>
				<div ng-if="item.id==mainTableId" class="table-pointer">主订单</div>
				<div class="table-status" >
					<input ng-if="item.id==mainTableId" id="{{item.id}}" type="checkbox" checked disabled value="{{index}}" />
					<input ng-if="item.id!=mainTableId" id="{{item.id}}" name="table" type="checkbox" value="{{index}}" />
				</div>
				</label>
			</div>
		</div>
	</div>
	<div class="merge-button">
		<button class="btn btn-primary btn-lg btn-block " ng-click="mergeTable()">合并结账</button>
	</div>
  </div>
</div>
<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				合并结账确认单
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
			</div>
			<div class="modal-body">
				<div>主桌位：
					<span>{{selectTableList[0].name}}</span>
				</div>
				<div>子桌位：
					<span ng-repeat="(index,item) in selectTableList" ng-if="index!=0">{{item.name}}&nbsp;</span>
				</div>
				<div>结账后，所有订单信息将统一并入主桌订单，是否确认合并结账？</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary btn-lg btn-block member-phone-button" ng-click="submitMergeTable()">确认</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
