<div class="row">
	<ng-include src="'templates/menu.html'"></ng-include>
	<div class="col-md-10 flow">
    <ul class="breadcrumb">
      <li>
        <a href="#/shopDataentry/shopInformation/profile">我的账户</a>
      </li>
      <li class="active">修改密码</li>
    </ul>

		<form ng-model="password" class="form-horizontal" ng-submit="updatePassword()" role="form">

		        <div class="form-group">
		            <label class="col-sm-2 control-label">原密码:</label>
		            <div class="col-sm-3">
									<input type="password" class="form-control" ng-model="password.old_password" ng-required="true" />
		            </div>
		        </div>

            <div class="form-group">
		            <label class="col-sm-2 control-label">新密码:</label>
		            <div class="col-sm-3">
									<input type="password" class="form-control" ng-model="password.new_password" ng-required="true" />
		            </div>
		        </div>
            <div class="form-group">
		            <label class="col-sm-2 control-label">再次输入新密码:</label>
		            <div class="col-sm-3">
									<input type="password" class="form-control" ng-model="password.confirm_password" ng-required="true" />
		            </div>
		        </div>
						<div class="form-group">
							<div class="alert alert-danger col-sm-5" ng-show="errorMessage">{{errorMessage}}</div>
						</div>
		        <div class="form-group">
					<div class="col-sm-offset-1 control-label   col-sm-2">
						<button class="btn btn-primary btn-lg btn-block" type="submit">确定</button>
					</div>
					<div class="col-sm-offset-0 control-label   col-sm-2">
						<button class="btn btn-primary btn-lg btn-block button-defult" 
							onclick="window.location. href='#/agentDataentry/agentInformation'">返回</button>
					</div>
		        </div>

		    </form>

  </div>


</div>
