<div class="col-sm-2 my-menu" ng-controller="menueController">
  <div class="panel-group" id="accordion" >
    <div class="panel panel-info" ng-show="showModule('1')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/agentDataentry/agentInformation"
            ><img src="img/information.png" />信息管理</a>
       </h4>
     </div>
    </div>
    
    <div class="panel panel-info" ng-show="showModule('1')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle" ng-click="downProductMenu()"
            
            ><img src="img/payController.png" />缴费管理<img class="right" src="img/upSelect.png" /></a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info little-menu" ng-show="showModule('1')&&isProductDown==1">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/agentDataentry/agentPay"
            >代理商缴费</a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info little-menu" ng-show="showModule('1')&&isProductDown==1">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/agentDataentry/agentShopPay"
            >商铺缴费</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('1')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/platformAccount/change-password"
            ><img src="img/shopInformation.png" />我的账户</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('2')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/shopDataentry/shopInformation"
            ><img src="img/information.png" />信息管理</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('2')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/shopDataentry/shopPay"
            ><img src="img/payController.png" />缴费管理</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('2')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/Bannerdataentry/banner"
            ><img src="img/Bannerdataentry.png" />广告管理</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('2')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/shopDataentry/lottery"
            ><img src="img/lotteryProduct.png" />中奖管理</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('2')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/agentDataentry/agentInformation/profile"
            ><img src="img/shopInformation.png" />我的账户</a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info" ng-show="showModule('3')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/dataentry/dining_table"
            ><img src="img/tableOperate.png" />桌位管理</a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info" ng-show="showModule('3')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle" ng-click="downProductMenu()"
            ><img src="img/category-product.png" />菜品管理<img class="right" src="img/upSelect.png" /></a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info little-menu" ng-show="showModule('3')&&isProductDown==1">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/dataentry/category"
            >菜品品类管理</a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info little-menu" ng-show="showModule('3')&&isProductDown==1">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/dataentry/product"
            >菜品信息管理</a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info" ng-show="showModule('3')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/dataentry/printer"
            ><img src="img/printer.png" />打印管理</a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info" ng-show="showModule('3')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle" ng-click="downOrderLogMenu()"
		 ><img src="img/orderLog.png" />财务管理<img class="right" src="img/upSelect.png" /></a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info little-menu" ng-show="showModule('3')&&isOrderLog==1">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/orderLog/list"
            >财务报表</a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info little-menu" ng-show="showModule('3')&&isOrderLog==1">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/productLog/list"
            >销售报表</a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info" ng-show="showModule('3')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle" ng-click="downCardMenu()"
     ><img src="img/membercard.png" />会员管理<img class="right" src="img/upSelect.png" /></a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info little-menu" ng-show="showModule('3')&&isCard==1">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/memberDataentry/cardList"
            >卡种管理</a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info little-menu" ng-show="showModule('3')&&isCard==1">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/memberDataentry/pointsRule"
            >积分规则</a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info" ng-show="showModule('3')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/staffDataentry/staffInformation"
            ><img src="img/staffDataentry.png" />员工管理</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('3')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/kitchenDataentry/kitchen"
            ><img src="img/kitchenDataentry.png" />后厨管理</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('3')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/lotteryProduct"
            ><img src="img/lotteryProduct.png" />奖品管理</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('3')&&isStaff==0">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/shopDataentry/shopInformation/profile"
            ><img src="img/shopInformation.png" />我的账户</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('4')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/tableOperate/list"
            ><img src="img/tableOperate.png" />桌台管理</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('4')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/orderLog/list"
            ><img src="img/orderLog.png" />历史订单</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('4')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/lotteryLog"
            ><img src="img/lotteryProduct.png" />奖品管理</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('4')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/callService/list"
            ><img src="img/callService.png" />
			呼叫服务
			<img class="right call-service-bell" src="img/call-service-bell.png" />
			<span class="callServiceNum">{{callServiceList.length}}</span>
			</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('4')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/memberDataentry/memberInformation"
            ><img src="img/staffDataentry.png" />会员中心</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('5')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/tableOperate/list"
            ><img src="img/tableOperate.png" />桌台管理</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('5')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/callService/list"
            ><img src="img/callService.png" />
			呼叫服务
			<img class="right call-service-bell" src="img/call-service-bell.png" />
			<span class="callServiceNum">{{callServiceList.length}}</span>
			</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('6')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/kitchenOperate/1"
            ><img src="img/nodo.png" />未开做</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" ng-show="showModule('6')">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle"
            href="#/kitchenOperate/2"
            ><img src="img/doing.png" />已开做</a>
       </h4>
     </div>
    </div>

     <div class="panel panel-info" >
     <div class="panel-heading">
       <h4 class="panel-title">
          <a href="#" ng-click="test()"><img src="img/logout-menu.png" />结业</a>
       </h4>
     </div>
    </div>

    <div class="panel panel-info" >
     <div class="panel-heading">
       <h4 class="panel-title">
          <a href="#" ng-click="logout()"><img src="img/logout-menu.png" />退出</a>
       </h4>
     </div>
    </div>

   <!--  <div class="collapse navbar-collapse" id="navbar-ex-collapse" >
     <ul class="nav navbar-nav navbar-right" ng-show="login_name">
       
       <li><a ng-click="logout()"><span class="glyphicon glyphicon-off"></span>退出</a></li>
   
     </ul>
   </div> -->

      

  </div>
<!--<embed name="embedPlay" src="./res/massage.mp3" autostart="true" hidden="true" loop="false"></embed>-->
<audio id='audioPlay' src='./res/massage.mp3' hidden='true'>
</div>
